<% if session['user_name'].nil? %>

    <%# TODO: needs refactoring! %>

    <%= form_tag :user_login, :id => 'login_form', :class => 'loginform' do %>
      <%= text_field_tag 'login[email]', nil, :class => 'emailfield', :value => 'Email',
                         :onfocus => "if (this.value == 'Email') {this.value = '';}",
                         :onblur => "if (this.value == '') {this.value = 'Email';}" %>
      <%= text_field_tag 'login[password]', nil, :class => 'passfield', :value => 'Password',
                             :onkeypress => "this.type='password';",
                             :onfocus => "if (this.value == 'Password') {this.value = '';}",
                             :onblur => "if (this.value == '') {this.value = 'Password';this.type='text';}else{this.type='password'}"%>
      <%= hidden_field_tag 'login[url]' %>
      <%= submit_tag "Sign in" ,:class => 'signinbutton' %>
    <% end %>

  <a href="#dialog_sign_up" name="modal">Sign Up</a>
  <%= render 'shared/sign_up' %>

<% else %>

    <span style="color:#2B6FB6;">Welcome <%= session['user_name'] %>!</span>
    <a href="/user/signout" class="sign_up">Sign Out</a>

<% end %>