<div id="dialog_sign_up" class="window orange_window">
  <p id="sign_up_thanks" class="thanks_msg">Thank you for sign up!</p>

  <div id="sign_up_form_wrapper">
    <h1>Sign Up</h1>

    <p class="window_txt">Signing up for an account is FREE.</p>

    <%= form_for @user, :url => {:action => :signup, :controller => :user}, :html => {:id => 'sign_up_form'} do |f| %>
      <ul class="inputs">
        <li>
          <%= f.label(:name, "Name:") %>
          <%= f.text_field :name,:size => 25, :required => true %>
        </li>
        <li>
          <%= f.label(:mail_address, "Email:") %>
          <%= f.text_field :mail_address,:size => 25, :required => true %>
        </li>
        <li>
          <%= f.label(:password, "Password:") %>
          <%= f.password_field :password ,:size => 25, :required => true %>
        </li>
        <li>
          <%= f.label(:password_confirmation, "Confirm Password:") %>
          <%= f.password_field :password_confirmation ,:size => 25, :required => true %>
        </li>
      </ul>

      <%= f.button('Cancel', :class => 'close') %>
      <%= f.submit('Submit') %>
    <% end %>

  </div>
</div>