<div id="dialog_sign_up" class="window orange_window">
  <p id="sign_up_thanks" class="thanks_msg">Thank you for sign up!</p>

  <div id="sign_up_form_wrapper">
    <h1>Sign Up</h1>

    <p class="window_txt">Signing up for an account is FREE.</p>

    <%= form_tag('user/signup', :id => 'sign_up_form') do %>
      <ul class="inputs">
        <li>
          <%= label_tag(:name, "Name:") %>
          <%= text_field_tag(:name) %>
        </li>
        <li>
          <%= label_tag(:mail_address, "Email:") %>
          <%= text_field_tag(:mail_address) %>
        </li>
        <li>
          <%= label_tag(:password, "Password:") %>
          <%= password_field_tag(:password) %>
        </li>
        <li>
          <%= label_tag(:confirm, "Confirm Password:") %>
          <%= password_field_tag(:confirm) %>
        </li>
      </ul>

        <%= button_tag('Cancel', :class => 'close') %>
        <%= submit_tag('Submit') %>

    <% end %>

  </div>
</div>