<% title 'iosie VISITOR' %>

<!-- /-- Body -->

<%= render 'shared/feedback' %>

<%= render 'shared/header' %>
<div id="content" class="container_24 clearfix">

  <%= render 'sidebar' %>

  <%= render 'shared/content_suggestion_form' %>

</div>


<%= render 'shared/footer' %>

<!-- \-- Body -->
