<% title 'IOSIE :: Learning Portal' %>


<%= render 'lessons' %>

<%= render 'question_discussion' %>

<%= render 'category' %>

<%= render 'suggestions' %>

<%= render 'about' %>

<%= render 'js_template' %>

<div id="zen">
  <span class="player"></span>
  <span class="circle"></span>
  <span class="progress"></span>
  <span class="buffer"></span>
  <span class="drag"></span>
  <div class="button">
    <span class="icon play"></span>
    <span class="icon pause"></span>
  </div>
</div>
<%#=link_to "Suggest a Topic",  '/content_suggestion' , :id => "content_suggestion_btn" %>
