<% title 'IOSIE :: Learning Portal' %>

<%#= render 'shared/feedback' %>

<%= render 'shared/header' %>

<div id="wrapper">
  <section id="dummy"></section>

  <%= render 'lessons' %>

  <%= render 'question_discussion' %>

  <%= render 'category' %>

  <%= render 'suggestions' %>

  <%= render 'about' %>

  <%= render 'shared/footer' %>

</div>

<%= render 'js_template' %>
<%#=link_to "Suggest a Topic",  '/content_suggestion' , :id => "content_suggestion_btn" %>
