<div id="MicroBlog"> <!-------------------------------------------------------------------- MicroBlog tab-->

  <!--post summary-->
  <ul id="summaries">

    <% @lesson.blog_posts.each_with_index do |post, i| %>


        <li data-order="<%= i %>">
          <h2><%= post.title %>
            <a class="vote-up" title="vote up this!">&nbsp;</a>
            <a class="vote-down" title="vote down this!">&nbsp;</a>
          </h2>

          <div>
            <span class="date">posted on <%= post.created_at.strftime("%d %b %Y") %></span>&nbsp|
            <span class="comments"><%= pluralize(post.comments.count, "comment") %></span>

            <p>
              <%= summary(post.content) %>
            </p>
            <a class="switch">&nbsp;
              <!--<div>Details</div>-->
            </a>
          </div>
        </li>
    <% end %>
  </ul>
  <!--post summary end-->

  <!--post detail-->
  <ul id="details">
    <% @lesson.blog_posts.each_with_index do |post, i| %>
        <li data-order="<%= i %>">
          <h2><%= post.title %>
            <a class="vote-up" title="vote up this!">&nbsp;</a>
            <a class="vote-down" title="vote down this!">&nbsp;</a>
          </h2>

          <div>
            <span class="date">posted on <%= post.created_at.strftime("%d %b %Y") %></span>&nbsp|
            <span class="comments"><%= pluralize(post.comments.count, "comment") %></span>

            <p><%= post.content %></p>

            <h3>Comments</h3>
            <% post.comments.each do |cmnt| %>
                <ul class="comment">
                  <li> <span class="id"><%= cmnt.user.name %>
                    <a class="vote-up" title="vote up this!">&nbsp;</a>
                  <a class="vote-down" title="vote down this!">&nbsp;</a>
                  <a class="reply-button" title="reply to this post!">&nbsp;</a>
                 </span>

                    <p><%= cmnt.comment %></p>
            <% end %>

            </ul>

            <a class="switch">&nbsp;</a>


          </div>
    <% end %>
  </ul>
  <!--post detail end-->

</div>  <!---------------------------------------------------------------------------end of MicroBlog tab-->