<div id="tabs-2" class="MicroBlog body">
  <%= render :partial=>'lesson/partial/prototypes' %>

  <% if @microblogs.any? %>
      <%
      if(params[:BlogTitle].present?)
      %>
          <div align="right"> <a  href="/lesson/<%=@lesson.title.sub('?','%3f') %>#tabs-2">Brows All MicroBlogs</a></div>
      <%
      end
      %>
    <% @microblogs.each do |mcblog| %>
      <div class="post">
        <h2>
          <% if(!params[:BlogTitle].present?) %>

          <a href="<%= "/lesson/" + mcblog.lesson_id.to_s + "/microblog/" + mcblog.title  %>#tabs-2"><%= mcblog.title %></a>

          <%
             else
          %>
              <%= mcblog.title %>
          <%
           end
          %>
        </h2>
        <span class="date">posted on <%= mcblog.posted_on.strftime('%B %e, %Y') %></span>
            <span class="comments">
              <a href="#dialog<%= mcblog.id %>">
                <% if mcblog.comments.any? %>
                  <%= mcblog.comments.size %> comment(s)
                <% else %>
                  Post a new comment
                <% end %>
              </a>
            </span>
        <p>
          <% if(!params[:BlogTitle].present?) %>
              <a href="<%= "/lesson/" + mcblog.lesson_id.to_s + "/microblog/" + mcblog.title  %>#tabs-2"><%= mcblog.content  %></a>
          <% else %>
              <%= mcblog.content  %>
          <% end %>
        </p>

        <div class="microblog_comment" id="dialog<%= mcblog.id %>" title="Comments on <%=mcblog.title %>">
          <% if mcblog.comments.any? %>
            <% mcblog.comments.each do |comment| %>
              <div class="comment_post">
                <span class="id"><%= comment.user.name %></span> <small>says:</small>
                <p><%= comment.comment %></p>
              </div>
            <% end %>
          <% end %>

          <!------ Comment form ------>
          <%= form_tag :create_microblog, :method => :post,
                       :class => 'blog_post_comment_form' do %>
            <div class="comment_post">
              <%= label_tag 'comment[body]' do %>
                Comment:
                <%= text_area_tag 'comment[body]' %>
              <% end %>

              <div style="text-align: right;">
                <%= hidden_field_tag 'comment[blog_post_id]', "#{mcblog.id}" %>
                <%= submit_tag 'Submit' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
