<div class="post proto">
  <h2>__title__</h2>
  <span class="date">posted on __date__</span>
  <span class="comments"><a href="#dialog__id__">__num__ comments</a></span>
  <p>__content__</p>
</div>

<div class="microblog_comment proto" id="dialog__id__" title="Comments on __title__"></div>

<div class="comment_post proto">
  <span class="id">__user_name__</span> <small>says:</small>
  <p>__comment_body__</p>
</div>

<%= form_tag :create_microblog, :method => :post,
             :class => 'blog_post_comment_form proto' do %>
  <div class="comment_post">
    <%= label_tag 'comment[body]' do %>
      Comment:
      <%= text_area_tag 'comment[body]' %>
    <% end %>

    <div style="text-align: right;">
      <%= hidden_field_tag 'comment[blog_post_id]', '__blog_post_id__' %>
      <%= submit_tag 'Submit' %>
    </div>
  </div>
<% end %>