<div id="sidebar" class="grid_5">

  <!--/-Category -------------------------------------------------------------------------------------------------------------->
  <%= render :partial=>'lesson/partial/category' %>
  <!--\-Category -------------------------------------------------------------------------------------------------------------->

  <!-- /-Annotation -->
  <%= render :partial=>'lesson/partial/annotation' %>
  <!-- \-Annotation -->

  <!-- /-Podcast -->
  <%= render :partial=>'lesson/partial/podcast' %>
  <!-- \-Podcast -->

  <!-- /-Presentation -->
  <%= render :partial=>'lesson/partial/presentation' %>
  <!-- \-Presentation -->

  <!--/-Glossary -------------------------------------------------------------------------------------------------------------->
  <%= render :partial=>'partial/glossary' %>
  <!--\-Glossary -------------------------------------------------------------------------------------------------------------->

  <!--/-TagCloud -------------------------------------------------------------------------------------------------------------->
  <%= render :partial=>'partial/tag_cloud' %>
  <!--\-TagCloud -------------------------------------------------------------------------------------------------------------->

</div>
<!-- end of sidebar -->