<% title("iosie VISITOR - #{@lesson.title}") %>
<!-- /-- Body -->
<%= render :partial => "lesson/partial/categories" %>


<section id="lessons">

  <header>
    <h1><%= @lesson.title %></h1>
    <%= render :partial => "lesson/partial/tags" %>
    <%= render :partial => "lesson/partial/audio" %>
    <%= render :partial => "lesson/partial/description" %>
    <%= render :partial => "lesson/partial/rating" %>
  </header>

  <div id="Lesson_Content">

    <ul class="nav">
      <li><a title="Script" class="current">Main Script</a></li>
      <li><a title="MicroBlog">Micro Blog</a></li>
      <li><a title="QandA">Q and A</a></li>
      <li><a title="Discussion">Discussion</a></li>
      <li><a title="Presentation">Presentation</a></li>
      <li><a title="References">References</a></li>
    </ul>

    <div id="Tab_Content">
      <%= render :partial => "lesson/partial/script" %>
      <%= render :partial => "lesson/partial/microblog" %>
      <%= render :partial => "lesson/partial/questions" %>
      <%= render :partial => "lesson/partial/discussion" %>
      <%= render :partial => "lesson/partial/presentation" %>
      <%= render :partial => "lesson/partial/references" %>
    </div>

  </div> <!-- END Organic Tabs (Lesson Content) -->

</section>
<!-- \-- Body -->
