<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>

  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag  "application", params[:controller], :media => "all" %>

  <%= javascript_include_tag "application", params[:controller] %>

  <%= render :partial => "shared/messages" %>

</head>
    <% show_message("salam", :type => :error, :stay_time => 4000)  %>
<% show_message("hello", :type => :error, :stay_time => 1000)  %>
<% show_message("salam", :type => :success, :stay_time => 5000)  %>
<% show_message("salam", :type => :notice, :stay_time => 3000)  %>
<% show_message("salam", :type => :warning, :sticky => true)  %>

<body>

<div id="mask"></div>

  <%= yield %>

</body>
</html>