<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield(:title) %></title>
  <meta name="description" content="Islamic Courses, Islamic Lectures, Islamic Lessons, Islamic Podcasts">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' %>
  <%= favicon_link_tag '/apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>

  <!-- Main Styles -->
  <%= stylesheet_link_tag 'application-all',    :media => 'all' %>
  <%= stylesheet_link_tag 'application-screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'application-print',  :media => 'print' %>

  <!--[if IE]>
  <%= stylesheet_link_tag 'ie', :media => 'screen' %>
  <![endif]-->

  <%= csrf_meta_tag %>
</head>

<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
  improve your experience.</p>
<![endif]-->

  <!-- Main Content Begins Here -->
  <%= yield %>

</body>
</html>